:root {
    --darkblue: #012C3D;
    --grey: #DEDEDE;
    --red: #F8444F;
    --blue: #78BDC4;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #012C3D;
    color: #DEDEDE;
    font-weight: 400;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  header {
    border: 1px solid #DEDEDE;
    width: 400px;
    text-align: center;
    position: fixed;
    top: 0px;
  }
